/* Setear toda la página*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

small {
  color: red;
  font-weight: bolder;
}

section {
  padding: 2rem 9%;
}

.boton {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
}
.home {
  margin: 0;
  padding: 0;
  list-style: none;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 5.5rem;
  color: white;
}

.home .content span {
  font-size: 3.5rem;
  color: white;
  display: block;
}

.seccion-principal h3 {
  font-size: 3rem;
  text-align: center;
}

.seccion-principal .contenedor-nosotros {
  /* CAMBIANDO EL PADDING A LA SECCION*/
  padding: 2rem 2rem;
  gap: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.contenedor-nosotros .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 20px 0 20px rgba(0, 0, 0, 0.07);
  border-radius: 2rem;
  width: 23rem;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 5px solid #e3e1de;
}

.contenedor-nosotros .contenedor h4 {
  display: block;
}

.seccion-principal i {
  font-size: 5rem;
}

.producto {
  box-shadow: 20px 0 20px rgba(0, 0, 0, 0.07);
}
.producto img {
  width: 15rem;
  height: 15rem;
}

.productos-index h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.contenedor-producto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 3rem;
  align-items: center;
  justify-items: center;
}

.producto p,
.producto a {
  text-align: center;
}

.producto strong {
  display: block;
  text-align: center;
}

.boton-producto {
  display: block;
  margin-top: 1rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* PÁGINA NOSOTROS*/

.hero-nosotros {
  background: url(../img/nosotros-hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem;
}

.hero-nosotros h3 {
  color: #fff;
  font-size: 2rem;
}

.quienes {
  width: 100%;
  height: auto;
  margin-bottom: 10rem;
}

.quienes h3 {
  font-size: 3rem;
}

.quienes img {
  width: 40rem;
  height: auto;
  border-radius: 1.5rem;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* PÁGINA PRODUCTOS CON CARRITO INCLUIDO*/

.productos {
  display: flex;
  align-items: center;
  min-height: 50vh;
  background: url(../img/fotoperroygato.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}

.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.contenedor .contenedor-items .item .img-item {
  width: 100%;
}
.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* SECCION CARRITO DE ITEMS */
.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  margin-right: -100%;
  opacity: 0;
}

.carrito .header-carrito {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}
.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.carrito-total .btn-pagar:hover {
  scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
  .contenedor {
    display: block;
  }
  .contenedor-items {
    width: 100% !important;
  }
  .carrito {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------------------------------------------- */

/* PÁGINA LOGIN */

#login {
  min-height: 100vh;
  background: url(../img/dog-swimming.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.form-login {
  width: 400px;
  height: 340px;
  background: #4e4e4e;
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid purple;
  color: white;
  margin-bottom: 10rem;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid purple;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #312d2d;
  font-size: 14px;
  font-weight: bold;
  color: #707070;
}

.buttons {
  width: 100%;
  height: 40px;
  background: purple;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.form-login p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* Pagina mantenedor*/

.contenedor-carrito {
  width: 70rem;
  height: auto;
  margin: 1rem auto;
}

.hero h1 {
  color: #fff;
}

.hero i {
  color: #fff;
  font-size: 2rem;
}

table img {
  width: 10rem;
  height: 10rem;
}
table i {
  cursor: pointer;
}

.seccion-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  background: url(../img/fondo-azul-mantenedor.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.buscar {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.buscar i {
  font-size: 2rem;
}

td a i {
  color: red;
  /* background-color: red; */
}

.editar-icono {
  color: #000 !important;
}

.clock {
  position: absolute;
  top: 50%;
  left: 89%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

.tiempo {
  display: flex;
  align-items: center;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* Switch dark mode */

input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: white;
  appearance: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transform: 0.5s ease;
  margin-right: 1em;
}

input[type="checkbox"]:checked {
  background-color: #434343;
}

input[type="checkbox"]::before {
  content: " ";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.7s ease;
}

input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

.dark-mode {
  background-color: #252525;
  color: white;
}

/* --------------------------------------------------------------------------------------------------------------- */

/*FORMULARIO VENTAS*/

.body-formulario-venta {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  background: url(../img/perrosblancos.jpeg);
  background-size: cover;
  background-position: center;
}

.container-formulario {
  max-width: 700px;
  width: 100%;
  background: #434343;
  padding: 25px 30px;
  border-radius: 5px;
}

.container-formulario .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #ccc;
}

.container-formulario .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #9b59b6;
}

.container-formulario form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color: #ccc;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #9b59b6;
}

@media (max-width: 584px) {
  .container-formulario {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .container-formulario form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
