{% extends "./base.html" %}
{% load static %}

{% block head %}
    <link
      href="fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/fontawesome.css"
      rel="stylesheet"
    />
    <link
      href="fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/brands.css"
      rel="stylesheet"
    />
    <link
      href="fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/solid.css"
      rel="stylesheet"
    />
{% endblock %} 
{% block body %}

    <section class="home">
      <div class="content">
        <h3>Todo para tus mascotas</h3>
        <span> Sin fines de lucro</span>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, nihil. Numquam odio reiciendis facere distinctio delectus possimus, culpa eligendi quas quod ullam totam adipisci ipsam minus dolore dicta quo ratione!</p> -->
        <a href="#" class="boton">Ver Productos</a>
      </div>
    </section>

    </div>

    <section class="seccion-principal">
      <h3>Nosotros</h3>
      <div class="contenedor-nosotros">
        <div class="contenedor">
          <h4>Misión</h4>
          <i class="material-icons">group</i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            consectetur quia amet magni eum placeat iure.
          </p>
        </div>
        <div class="contenedor">
          <h4>Artículos</h4>
          <i class="material-icons">pets</i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            consectetur quia amet magni eum placeat iure.
          </p>
        </div>
        <div class="contenedor">
          <h4>Gratis</h4>
          <i class="material-icons">money_off</i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            consectetur quia amet magni eum placeat iure.
          </p>
        </div>
      </div>
    </section>

    <section class="productos-index">
      <h3>Productos más solicitados</h3>
      <div class="contenedor-producto-grid">
        <div class="producto">
          <img src="{% static 'img/comida-perro.jpg' %}" alt="">
          <p>Puppy Optistart Small Breed</p>
          <strong>$30.000</strong>
          <a class="boton-producto">Ver producto</a>
        </div>

        <div class="producto">
          <img src="{% static 'img/whiskas-gato.png' %}" alt="">
          <p>Whiskas 10kg</p>
          <strong>$20.000</strong>
          <a class="boton-producto">Ver producto</a>
        </div>

        <div class="producto">
          <img src="{% static 'img/correa-perro.jpg' %}" alt="">
          <p>Correa de perro corta</p>
          <strong>$10.000</strong>
          <a class="boton-producto">Ver producto</a>
          
        </div>

        <div class="producto">
          <img src="{% static 'img/cama-mascota.jpg' %}" alt="">
          <p>Cama para mascotas</p>
          <strong>$100.000</strong>
          <a class="boton-producto">Ver producto</a>
        </div>

        <div class="producto">
          <img src="{% static 'img/kits-juguetes.png' %}" alt="">
          <p>Kit de juguetes perros</p>
          <strong>$10.000</strong>
          <a class="boton-producto">Ver producto</a>
        </div>

        <div class="producto">
          <img src="{% static 'img/plato-gato.jpg' %}" alt="">
          <p>Plato para Gato</p>
          <strong>$10.000</strong>
          <a class="boton-producto">Ver producto</a>
        </div>
        
        
      </div>

    </section>
          
{% endblock %}