{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="{% static 'fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/fontawesome.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/brands.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/solid.css' %}"
      rel="stylesheet"
    />
    <title>Petsmatter</title>
  </head>
  <body>
    <nav
      class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PetMatter</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Contáctanos</a
              >
            </li>
          </ul>

          <!-- <form class="d-flex">
            <button class="btn btn-outline-success" type="submit">
              Registrarse
            </button>
          </form> -->
        </div>
        <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
      </div>
    </nav>

    <section class="seccion-settings hero">
      <div class="contenedor-hero">
        <h1>Settings</h1>
        <i class="fa-solid fa-gear"></i>
      </div>
      <div class="tiempo">
        <h1 id="comuna"></h1>
      </div>
    </section>

    <section class="seccion-buscar">
      <div class="buscar">
        <h2>Filtrar</h2>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Ingrese producto</label>
      </div>
    </section>

    <div class="contenedor-carrito">
      <table id="tablaMantenedor" class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Sku</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for p in productos %}
          <tr>
            <th scope="row"><img src="{{p.imagen.url}}" alt="" /></th>
            <td>{{p.sku}}</td>
            <td>{{p.nombre}}</td>
            <td>${{p.precio}}</td>
            <td>{{p.stock}}</td>
            <td>
              <a
                data-bs-toggle="modal"
                data-bs-target="#editarModal"
                data-bs-whatever="@mdo"
                ><i id="{{p.sku}}" class="fa-solid fa-user-pen editar-icono"></i
              ></a>
            </td>
            <td>
              <a class="a-eliminar" href="{% url 'eliminar-producto' p.sku %}"
                ><i class="fa-solid fa-delete-left"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="col text-center">
        <button
          type="button"
          class="btn btn-primary btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@mdo"
        >
          Agregar producto
        </button>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Agregar producto
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                id="agregarProductoForm"
                action="{% url 'agregar-producto' %}"
                method="POST"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="mb-3">
                  <label for="skuProducto" class="col-form-label">Sku:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="skuProducto"
                    id="skuProducto"
                  />
                </div>
                <div class="mb-3">
                  <label for="nombreProducto" class="col-form-label"
                    >Nombre:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="nombreProducto"
                    id="nombreProducto"
                  />
                </div>
                <div class="mb-3">
                  <label for="precioProducto" class="col-form-label"
                    >Precio:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="precioProducto"
                    name="precioProducto"
                  />
                </div>
                <div class="mb-3">
                  <label for="stockProducto" class="col-form-label"
                    >Stock:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="stockProducto"
                    name="stockProducto"
                  />
                </div>

                <div class="mb-3">
                  <label for="descripicionProducto" class="col-form-label"
                    >Descripcion:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="descripicionProducto"
                    name="descripicionProducto"
                  />
                </div>

                <div class="mb-3">
                  <label for="cmbCategoria">Categoria:</label>
                  <select
                    name="cmbCategoria"
                    id="cmbCategoria"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option disabled selected>Seleccione</option>
                    {% for c in categorias %}
                    <option value="{{c.id_categoria}}">
                      {{c.nombre_categoria}}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="imagenProducto" class="form-label">Imagen:</label>
                  <input
                    class="form-control"
                    type="file"
                    id="imagenProducto"
                    name="imagenProducto"
                  />
                </div>

                <button
                  type="submit"
                  class="btn btn-primary btn-dark"
                  data-bs-dismiss="modal"
                >
                  Agregar producto
                </button>

                <button
                  type="button"
                  class="btn btn-secondary btn-danger"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button
                onclick="limpiarForm()"
                type="button"
                class="btn btn-secondary btn-danger"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary btn-dark"
                data-bs-dismiss="modal"
              >
                Agregar producto
              </button>
            </div> -->
          </div>
        </div>
      </div>

      <!-- EDITAR PRODUCTOS -->
      <div
        class="modal fade"
        id="editarModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Editar producto
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                id="agregarProductoForm"
                action="{% url 'agregar-producto' %}"
                method="POST"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="mb-3">
                  <label for="skuProductoEditar" class="col-form-label">Sku:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="skuProductoEditar"
                    id="skuProductoEditar"
                  />
                </div>
                <div class="mb-3">
                  <label for="nombreProductoEditar" class="col-form-label"
                    >Nombre:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="nombreProductoEditar"
                    id="nombreProductoEditar"
                  />
                </div>
                <div class="mb-3">
                  <label for="precioProductoEditar" class="col-form-label"
                    >Precio:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="precioProductoEditar"
                    name="precioProductoEditar"
                  />
                </div>
                <div class="mb-3">
                  <label for="stockProductoEditar" class="col-form-label"
                    >Stock:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="stockProductoEditar"
                    name="stockProductoEditar"
                  />
                </div>

                <div class="mb-3">
                  <label for="descripcionProductoEditar" class="col-form-label"
                    >Descripcion:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="descripcionProductoEditar"
                    name="descripcionProductoEditar"
                  />
                </div>

                <div class="mb-3">
                  <label for="cmbCategoria">Categoria:</label>
                  <select
                    name="cmbCategoria"
                    id="cmbCategoria"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option disabled selected>Seleccione</option>
                    {% for c in categorias %}
                    <option class="categoriaProductoEditar" id="{{c.id_categoria}}" value="{{c.id_categoria}}">
                      {{c.nombre_categoria}}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="imagenProductoEditar" class="form-label">Imagen:</label>
                  <img id="imagenProductoEditarMostrar" src="" alt="" width="60px" srcset="">
                  <input
                    class="form-control"
                    type="file"
                    id="imagenProductoEditar"
                    name="imagenProductoEditar"
                  />
                </div>

                <button
                  type="submit"
                  class="btn btn-primary btn-dark"
                  data-bs-dismiss="modal"
                >
                  Editar producto
                </button>

                <button
                  type="button"
                  class="btn btn-secondary btn-danger"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/formulario.js' %}"></script>
    <!-- <script src="{% static 'js/storage.js' %}"></script> -->
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>

    <script>
      const iconosEditar = document.querySelectorAll(".editar-icono");
      for (const icono of iconosEditar) {
        icono.addEventListener("click", function (event) {
          event.preventDefault();
          fetch('{%  url "editar-producto-ajax" %}', {
            method: "POST",
            credentials: "same-origin",
            headers: {
              Accept: "application/json",
              "X-Requested-With": "XMLHttpRequest", //Necessary to work with request.is_ajax()
              "X-CSRFToken": '{{csrf_token}}',
            },
            body: JSON.stringify({ 'skuProducto': event.target.id ,'imagenUrl':null}), //JavaScript object of data to POST
          })
            .then((response) => {
              return response.json(); //Convert response to JSON
            })
            .then((data) => {
              console.log(data);
              document.getElementById("skuProductoEditar").value = data[0]['sku'];
              document.getElementById("nombreProductoEditar").value = data[0]['nombre'];
              document.getElementById("precioProductoEditar").value = data[0]['precio'];
              document.getElementById("stockProductoEditar").value = data[0]['stock'];
              document.getElementById("descripcionProductoEditar").value = data[0]['descripcion'];
              document.getElementById(data[0]['id_categoria_id']).selected = true;
              const urlIncompleta = data[0]['imagen']
              const urlCompleta = '/media/'+ urlIncompleta
              document.getElementById("imagenProductoEditarMostrar").src = urlCompleta;
              //document.getElementById("imagenProductoEditar").value = url.split('/')[1]
              //document.getElementById("imagenProductoEditar").value = data[0]['imagen'];
                
            });
        });
      }
    </script>
  </body>
</html>
